

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color:#f9faf8;
}

.back {
    display:flex;
    background-color: #000;
    height:100%;
    width:100%;
    justify-content: center;
}

.content {
    display:flex;
    flex-direction:column;
    width: 900px;
    flex: initial;
}

/* HEADER */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.h1-header {
    padding-left: 64px;
}

.ul-header {
    display: flex;
    gap: 20px;
    padding-inline-start: 0;
    list-style-type: none;
    padding-right: 64px;
}

/*TOP*/
.topbox {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 64px;
}

.description-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 24px;
    color: #f9faf8;
}

.h1-desc {
    margin-top: 0;
    margin-bottom: 10px;
}

.button-desc {
    align-self: flex-start;
    padding: 8px 32px;
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border:0px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
}

.imgbox-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 200px;
}

.img-desc {
    height:auto;
    width:380px;
    overflow:hidden;
}

.photo-desc {
    color:#f9faf8;
    margin: 2px;
}

.adesc {
    color: #f9faf8;
}

/*Info*/
.infobox {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    padding: 64px;
}

.h1-info {
    padding-top: 0;
    margin-top: 0;
}

.ul-info {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    gap: 12px;
}

.text-info {
    width: 150px;
    padding: 5px;
    text-align: center;
}

.imgbox-info {
    display: flex;
    width: 150px;
    height: 150px;
    overflow:hidden;
    border-radius: 12px;
    border: 3px solid #3882f6;
}

.img-info {
    height: 150px;
    width: 150px;
}

.photo-info {
    color: #000;
    font-size: 9px;
    margin: 0;
    text-align: center;
}

.ainfo {
    color: #000;
}

/*Center*/
.centerbox {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

.wrap-center {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    width: 500px;
    flex:initial;
}

.text-center {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
}

.quote-center {
    font-weight: 900;
    align-self: flex-end;
    margin-top: 0;
}

/*Ad*/
.adbox {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding:64px;
}

.ad {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 24px 64px;
    border-radius: 15px;
    color: #f9faf8;
}

.left-ad {
    display: flex;
    flex-direction: column;
}

.text-ad {
    padding-right: 64px;
    padding-left: 0;
}

.h1-ad {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.button-ad {
    align-self: center;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border:2px solid #f9faf8;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
}

/*footer*/
.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    background-color:#1f2937;
    padding: 32px;
    font-size: 12px;
}





















